body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
h1{
  font-weight: normal;
  margin: 15px 0;
}
h2{
  margin: 12.5px 0;
}
h3{
  margin: 10px 0;
}
a{
  color: blue;
  cursor: pointer;
}
button{
  background-color: #007bc1;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 5px 15px;
  cursor: pointer;
}
.notification-panel{
  background-color: #f2f2f2;
  width: 100%;
  z-index: 1;
}
.notification-panel__wrapper{
  width: 100%;
  padding: 10px 25%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.notification-panel__text{
  width: 80%;
  margin-right: 5%;
}
.notification-panel__button{
  width: 15%;
  text-align: right;
}
.notification-panel__button-gotit{
  width: max-content;
  padding: 10px 15px;
}
.hero-shot{
  background-image: url('../img/work-desk__dustin-lee.jpg');
  background-size: 100%;
  width: 100%;
  position: relative;
}
.hero-shot__wrapper{
  width: 100%;
  padding: 100px 30%;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(0,74,117,.6);
  color: white;
}
.hero-shot__wrapper img{
  position: absolute;
  width: 5%;
  top: 15px;
  left: 15px;
}
.hero-shot__wrapper button{
  padding: 10px 30px;
  border: 1px solid white;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
}
.hero-shot__wrapper button:hover{
  color: #007bc1;
  background-color: white;
}
.highlights-panel{
  background-color: #e5e5e5;
}
.highlights-panel__header{
  width: 100%;
  padding: 30px 25%;
  text-align: center;
  box-sizing: border-box;
}
.highlights-panel__wrapper{
  padding: 0 15px;
  display: table;
  box-sizing: border-box;
}
.highlights-panel__wrapper > div{
  width: calc(100% / 3);
  display: inline-block;
}
.highlights-panel__wrapper > div > div{
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
  position: relative;
}      
.highlights-panel__wrapper i{
  position: absolute;
  right: 15px;
  font-size: x-large;
  color: #aaa;
}
.newsletter-panel{
  background-color: rgba(0,123,193,.9);
  color: white;
  width: 40%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
}
.newsletter-panel__wrapper{
  padding: 30px;
  box-sizing: border-box;
}
.newsletter-panel__wrapper .fas.fa-times{
  position: absolute;
  right: 20px;
}
.newsletter-panel__subscribe{
  display: flex;
}
.newsletter-panel__subscribe input{
  width: 73%;
  margin-right: 2%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}
.newsletter-panel__subscribe button{
  width: 25%;
  background-color: #ff8000;
  font-weight: bold;
}
footer{
  background-color: #050325;
  color: white;
}
footer div{
  padding: 20px 0;
  text-align: center;
}
@media only screen and (min-width: 480px) and (max-width: 960px) {    
  .notification-panel__wrapper {
    padding: 10px 15%;
  } 
  .hero-shot{
    background-size: auto 100%;
  }  
  .hero-shot__wrapper {
    padding: 100px 15%;
  }
  .hero-shot__wrapper img {
    width: 6.5%;
  }
  .highlights-panel__header {
    padding: 15px 15%;
  } 
  .highlights-panel__wrapper > div{
    width: 50%;
  }
  .newsletter-panel{
    width: 60%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) { 
  .notification-panel__wrapper {
    padding: 10px 10%;
  }
  .hero-shot__wrapper {
    padding: 100px 10%;
  }
  .hero-shot__wrapper img {
    width: 8.5%;
  }
  .highlights-panel__header {
    padding: 15px 10%;
  }
  .newsletter-panel{
    width: 80%;
  }
}
@media only screen and (max-width: 479px) {
  h1{
    font-size: 22px;
  }
  h2{
    font-size: 18px;
  }
  .newsletter-panel, .newsletter-panel__subscribe input, .newsletter-panel__subscribe button, .highlights-panel__wrapper > div,.notification-panel__text,.notification-panel__button{
    width: 100%;
  }        
  .notification-panel__wrapper {
    padding: 10px 30px;
    display: block;
  }
  .notification-panel__button {
    text-align: initial;
    margin-top: 10px;
  }
  .hero-shot{
    background-size: auto 100%;
  }
  .hero-shot__wrapper {
    padding: 100px 30px;
  }
  .hero-shot__wrapper img {
    width: 10%;
  }
  .highlights-panel__header {
    padding: 15px 30px;
  }
  .newsletter-panel__subscribe {
    display: block;
  }
  .newsletter-panel__subscribe button{
    margin-top: 10px;
  }
}